footer {
    background-color: gray;
    opacity: 0.7;
    padding: 0.1em;
    clear: both;
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    color: white;
    text-align: center;
    margin: 0.5em;
    font-size: 15px;
    letter-spacing: 0px;
  }


  
  footer img {
    width: 16px;
  }
  